# Node dependencies
/node_modules
/client/node_modules

# Environment variables
.env
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# macOS system files
.DS_Store
**/.DS_Store

# Lock files
package-lock.json
/client/package-lock.json

# Test coverage output
/client/coverage

# Package manager files
/client/.pnp
/client/.pnp.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
